<a href="https://colab.research.google.com/github/ivillar/Tagg-Data-Science-Application/blob/main/submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Setting up the environment

First, we're going to deal with the import statements and other boilerplate

In [1]:
!rm -r Tagg-Data-Science-Application
!git clone https://github.com/ivillar/Tagg-Data-Science-Application.git

#from utils import *

# Importing other important libraries 
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# Load in data
train_data_path = "./Tagg-Data-Science-Application/data/train.csv"
test_data_path = "./Tagg-Data-Science-Application/data/test.csv"

# Create train and test data pandas dataframes
train_data = pd.read_csv(train_data_path)
test_data = pd.read_csv(test_data_path)

rm: cannot remove 'Tagg-Data-Science-Application': No such file or directory
Cloning into 'Tagg-Data-Science-Application'...
remote: Enumerating objects: 31, done.
remote: Counting objects: 100% (31/31), done.
remote: Compressing objects: 100% (22/22), done.
remote: Total 31 (delta 7), reused 16 (delta 1), pack-reused 0
Unpacking objects: 100% (31/31), done.

## Exploring the datasets

We'll first use the head() method to check out how our datasets are structured:

In [2]:
train_data.head()

   Unnamed: 0      id  Gender  ... f22   f23             Satisfaction
0           0   70172    Male  ...  25  18.0  neutral or dissatisfied
1           1    5047    Male  ...   1   6.0  neutral or dissatisfied
2           2  110028  Female  ...   0   0.0                satisfied
3           3   24026  Female  ...  11   9.0  neutral or dissatisfied
4           4  119299    Male  ...   0   0.0                satisfied

[5 rows x 25 columns]

The 'Unnamed: 0' and 'id' columns seem unecessary for data analysis, so we'll drop them from both datasets.

In [3]:
n_train_data = train_data.drop(['Unnamed: 0', 'id'], axis = 1)
n_test_data = test_data.drop(['Unnamed: 0', 'id'], axis = 1)

In [4]:
for column_name in n_train_data.columns:
    column_counts = n_train_data[column_name].value_counts()
    print(column_counts)
    print("----")

Female    52727
Male      51177
Name: Gender, dtype: int64
----
Loyal Customer       84923
disloyal Customer    18981
Name: Customer Type, dtype: int64
----
39    2969
25    2798
40    2574
44    2482
42    2457
      ...
74      47
76      45
79      42
78      33
85      17
Name: Age, Length: 75, dtype: int64
----
Business    71655
Personal    32249
Name: Use, dtype: int64
----
Premium      49665
Free         46745
Free Plus     7494
Name: Tier, dtype: int64
----
337     660
594     395
404     392
2475    369
862     369
       ...
1466      1
856       1
810       1
1361      1
3763      1
Name: f7, Length: 3802, dtype: int64
----
3    25868
2    25830
4    19794
1    17840
5    11469
0     3103
Name: f8, dtype: int64
----
4    25546
5    22403
3    17966
2    17191
1    15498
0     5300
Name: f9, dtype: int64
----
3    24449
2    24021
4    19571
1    17525
5    13851
0     4487
Name: f10, dtype: int64
----
3    28577
4    24426
2    19459
1    17562
5    13879
0        1
Name: f11, dtype: int64
----
4    24359
5    22313
3    22300
2    21988
1    12837
0      107
Name: f12, dtype: int64
----
4    30762
3    21804
5    20713
2    17505
1    10692
0     2428
Name: f13, dtype: int64
----
4    31765
5    26470
3    18696
2    14897
1    12075
0        1
Name: f14, dtype: int64
----
4    29423
5    25213
3    19139
2    17637
1    12478
0       14
Name: f15, dtype: int64
----
4    30867
5    23648
3    22833
2    14681
1    11872
0        3
Name: f16, dtype: int64
----
4    28789
5    24667
3    20098
2    19525
1    10353
0      472
Name: f17, dtype: int64
----
4    37383
5    27131
3    20632
2    11521
1     7237
Name: f18, dtype: int64
----
4    29055
3    28446
5    20619
2    12893
1    12890
0        1
Name: f19, dtype: int64
----
4    37945
5    27116
3    20299
2    11457
1     7084
0        3
Name: f20, dtype: int64
----
4    27179
3    24574
5    22689
2    16132
1    13318
0       12
Name: f21, dtype: int64
----
0      58668
1       2948
2       2274
3       2009
4       1854
       ...
359        1
724        1
297        1
595        1
447        1
Name: f22, Length: 446, dtype: int64
----
0.0      58159
1.0       2211
2.0       2064
3.0       1952
4.0       1907
         ...
823.0        1
459.0        1
518.0        1
370.0        1
429.0        1
Name: f23, Length: 455, dtype: int64
----
neutral or dissatisfied    58879
satisfied                  45025
Name: Satisfaction, dtype: int64
----

In [5]:
f7_values = n_train_data['f7'].tolist()
f22_values = n_train_data['f22'].tolist()
f23_values = n_train_data['f23'].tolist()

print(len(f7_values))
print(len(f22_values))
print(len(f23_values))

print(set(f7_values))
print(set(f22_values))
print(set(f23_values))

103904
103904
103904

## Preprocessing the data

In [6]:
for column_name in n_train_data:
    num_nans = n_train_data[column_name].isnull().sum()
    if num_nans != 0:
        print("Column " + column_name + " in train set has " + str(num_nans) + " nans.")

for column_name in n_test_data:
    num_nans = n_test_data[column_name].isnull().sum()
    if num_nans != 0:
        print("Column " + column_name + " in test dataset has " + str(num_nans) + " nans.")

Column f23 in train set has 310 nans.
Column f23 in test dataset has 83 nans.

Since we seem to have some nan values in the f23 column, we can go ahead and deal with them by imputing them. We will be using sklearn's KNNImputer.

In [7]:
from sklearn.impute import KNNImputer
numeric_train_data = n_train_data.drop(['Gender', 'Customer Type', 'Use', 'Tier', 'Satisfaction'], axis = 1)
numeric_test_data = n_test_data.drop(['Gender', 'Customer Type', 'Use', 'Tier', 'Satisfaction'], axis = 1)


knnimputer = KNNImputer(n_neighbors = 3, weights = "uniform")
imputed_train_data = pd.DataFrame(knnimputer.fit_transform(numeric_train_data))
imputed_test_data = pd.DataFrame(knnimputer.transform(numeric_test_data))

# Imputation removed column names; put them back
imputed_train_data.columns = numeric_train_data.columns
imputed_test_data.columns = numeric_test_data.columns

In [8]:
num_nans = imputed_train_data['f23'].isnull().sum()
print("Column " + 'f23' + " has " + str(num_nans) + " nans.")
imputed_train_data.head()

Column f23 has 0 nans.

    Age      f7   f8   f9  f10  f11  f12  ...  f17  f18  f19  f20  f21   f22   f23
0  13.0   460.0  3.0  4.0  3.0  1.0  5.0  ...  3.0  4.0  4.0  5.0  5.0  25.0  18.0
1  25.0   235.0  3.0  2.0  3.0  3.0  1.0  ...  5.0  3.0  1.0  4.0  1.0   1.0   6.0
2  26.0  1142.0  2.0  2.0  2.0  2.0  5.0  ...  3.0  4.0  4.0  4.0  5.0   0.0   0.0
3  25.0   562.0  2.0  5.0  5.0  5.0  2.0  ...  5.0  3.0  1.0  4.0  2.0  11.0   9.0
4  61.0   214.0  3.0  3.0  3.0  3.0  4.0  ...  4.0  4.0  3.0  3.0  3.0   0.0   0.0

[5 rows x 18 columns]

In [9]:
num_nans = imputed_test_data['f23'].isnull().sum()
print("Column " + 'f23' + " has " + str(num_nans) + " nans.")
imputed_test_data.head()

Column f23 has 0 nans.

    Age      f7   f8   f9  f10  f11  f12  ...  f17  f18  f19  f20  f21   f22   f23
0  52.0   160.0  5.0  4.0  3.0  4.0  3.0  ...  5.0  5.0  2.0  5.0  5.0  50.0  44.0
1  36.0  2863.0  1.0  1.0  3.0  1.0  5.0  ...  4.0  4.0  3.0  4.0  5.0   0.0   0.0
2  20.0   192.0  2.0  0.0  2.0  4.0  2.0  ...  1.0  3.0  2.0  2.0  2.0   0.0   0.0
3  44.0  3377.0  0.0  0.0  0.0  2.0  3.0  ...  1.0  1.0  3.0  1.0  4.0   0.0   6.0
4  49.0  1182.0  2.0  3.0  4.0  3.0  4.0  ...  2.0  2.0  4.0  2.0  4.0   0.0  20.0

[5 rows x 18 columns]

In [10]:
n_train_data[['Age'] + ['f' + str(i) for i in range(7,24)]] = imputed_train_data[['Age'] + ['f' + str(i) for i in range(7,24)]]
num_nans = n_train_data['f23'].isnull().sum()
print("Column " + 'f23' + " has " + str(num_nans) + " nans.")
n_train_data.head()

Column f23 has 0 nans.

   Gender      Customer Type   Age  ...   f22   f23             Satisfaction
0    Male     Loyal Customer  13.0  ...  25.0  18.0  neutral or dissatisfied
1    Male  disloyal Customer  25.0  ...   1.0   6.0  neutral or dissatisfied
2  Female     Loyal Customer  26.0  ...   0.0   0.0                satisfied
3  Female     Loyal Customer  25.0  ...  11.0   9.0  neutral or dissatisfied
4    Male     Loyal Customer  61.0  ...   0.0   0.0                satisfied

[5 rows x 23 columns]

In [11]:
n_test_data[['Age'] + ['f' + str(i) for i in range(7,24)]] = imputed_test_data[['Age'] + ['f' + str(i) for i in range(7,24)]]
num_nans = n_test_data['f23'].isnull().sum()
print("Column " + 'f23' + " has " + str(num_nans) + " nans.")
n_test_data.head()

Column f23 has 0 nans.

   Gender      Customer Type   Age  ...   f22   f23             Satisfaction
0  Female     Loyal Customer  52.0  ...  50.0  44.0                satisfied
1  Female     Loyal Customer  36.0  ...   0.0   0.0                satisfied
2    Male  disloyal Customer  20.0  ...   0.0   0.0  neutral or dissatisfied
3    Male     Loyal Customer  44.0  ...   0.0   6.0                satisfied
4  Female     Loyal Customer  49.0  ...   0.0  20.0                satisfied

[5 rows x 23 columns]

In [12]:
customer_type_map = {'Loyal Customer': 1, 'disloyal Customer': 0}
use_map = {'Business': 1, 'Personal': 0}
tier_map = {'Free': 0, 'Free Plus': 1, 'Premium': 2}
gender_map = {'Male': 0, 'Female': 1}
satisfaction_map = {'neutral or dissatisfied': 0, 'satisfied': 1}

n_train_data['CustomerTypeNumber'] = n_train_data['Customer Type'].replace(customer_type_map)
n_train_data['UseNumber'] = n_train_data['Use'].replace(use_map)
n_train_data['TierNumber'] = n_train_data['Tier'].replace(tier_map)
n_train_data['GenderNumber'] = n_train_data['Gender'].replace(gender_map)
n_train_data['SatisfactionNumber'] = n_train_data['Satisfaction'].replace(satisfaction_map)

n_test_data['CustomerTypeNumber'] = n_test_data['Customer Type'].replace(customer_type_map)
n_test_data['UseNumber'] = n_test_data['Use'].replace(use_map)
n_test_data['TierNumber'] = n_test_data['Tier'].replace(tier_map)
n_test_data['GenderNumber'] = n_train_data['Gender'].replace(gender_map)
n_test_data['SatisfactionNumber'] = n_test_data['Satisfaction'].replace(satisfaction_map)

In [13]:
n_train_data.head()
n_test_data.head()

   Gender      Customer Type  ...  GenderNumber SatisfactionNumber
0  Female     Loyal Customer  ...             0                  1
1  Female     Loyal Customer  ...             0                  1
2    Male  disloyal Customer  ...             1                  0
3    Male     Loyal Customer  ...             1                  1
4  Female     Loyal Customer  ...             0                  1

[5 rows x 28 columns]

In [14]:
features = ['f' + str(i) for i in range(7, 24)] + ['GenderNumber', 'CustomerTypeNumber', 'Age', 'UseNumber', 'TierNumber']
labels = 'SatisfactionNumber'

X_train, y_train = n_train_data[features], n_train_data[labels]
X_test, y_test = n_test_data[features], n_test_data[labels]

## Experimenting with models

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

classifiers = [
    LogisticRegression(),
    KNeighborsClassifier(3),
    #SVC(kernel="linear", C=0.025),
    #GaussianProcessClassifier(1.0 * RBF(1.0)),
    DecisionTreeClassifier(max_depth=5),
    RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    MLPClassifier(alpha=1, max_iter=1000),
    AdaBoostClassifier(),
    GaussianNB()#,
    #QuadraticDiscriminantAnalysis()
    ]

In [16]:
for classifier in classifiers:
    print("-------------")
    print(str(classifier) + '\n')
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))
    print("Precision: ", metrics.precision_score(y_test, y_pred))
    print("Recall: ", metrics.recall_score(y_test, y_pred))
    print("-------------")

-------------
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Accuracy:  0.7901524484139205
Precision:  0.7405431619786615
Recall:  0.8034727703235991
-------------
-------------
KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

Accuracy:  0.743994456421312
Precision:  0.7235443514250776
Recall:  0.6745593264930282
-------------
-------------
DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

Accuracy:  0.9047967354481059
Precision:  0.9029783393501805
Recall:  0.8774006840305183
-------------
-------------
RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features=1,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

Accuracy:  0.8729211579919927
Precision:  0.8970790041168398
Recall:  0.80259580812067
-------------
-------------
MLPClassifier(activation='relu', alpha=1, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=1000,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

Accuracy:  0.9023714197720973
Precision:  0.9332551548910388
Recall:  0.8374989037972463
-------------
-------------
AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

Accuracy:  0.9264320911610717
Precision:  0.9220167170549529
Recall:  0.9093221082171359
-------------
-------------
GaussianNB(priors=None, var_smoothing=1e-09)

Accuracy:  0.8615645210963967
Precision:  0.8582836163377696
Recall:  0.8200473559589582
-------------

From what we've seen, it appears that the MLPClassifier, the Decision tree classifier, and the Adaboost classifier had the highest test set accuracies. This makes sense, since neural networks have more expressive power than linear regression. Moreover, decision trees perform very well on categorial data, which is plentiful in our data. Adaboost is a boosting algorithm.

Adaboost performed the best out of all of the three, so we'll fo ahead ans see if we can change some hyperparameters and boost our performance.

In [17]:
base_estimator = DecisionTreeClassifier(max_depth=5)
adaboost_model = AdaBoostClassifier(base_estimator=base_estimator)

adaboost_model.fit(X_train, y_train)
y_pred = adaboost_model.predict(X_test)
print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))
print("Precision: ", metrics.precision_score(y_test, y_pred))
print("Recall: ", metrics.recall_score(y_test, y_pred))
print("-------------")

Accuracy:  0.9556513704958424
Precision:  0.9582476531068396
Recall:  0.9399280890993598
-------------

Since this model managed to get above 95% accuracy on our test dataset, we'll go ahead and save it.

In [18]:
import joblib

joblib.dump(adaboost_model, "adaboost_model.pkl", compress = 3)

['adaboost_model.pkl']

In [19]:
mlp_model = MLPClassifier(hidden_layer_sizes = (100, 50, 25))

mlp_model.fit(X_train, y_train)
y_pred = mlp_model.predict(X_test)
print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))
print("Precision: ", metrics.precision_score(y_test, y_pred))
print("Recall: ", metrics.recall_score(y_test, y_pred))
print("-------------")

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

Accuracy:  0.9475669849091469
Precision:  0.9794670996084424
Recall:  0.8994124353240376
-------------

Boosting seems to do a very good job of classifying the dataset, even better than the MLPClassifier! Let's see if XGBoost can do an even better job of classifying the data than Adaboost. XGBoost is a very popular learning algorithm that is very popular in Kaggle competitions. [This paper](https://arxiv.org/pdf/1603.02754.pdf) details XGBoost's properties in detail.

In [20]:
from xgboost import XGBClassifier

xgb_model = XGBClassifier(max_depth=6, n_estimators=200, booster='dart', reg_lambda=1.25)
history = xgb_model.fit(X_train, y_train)
y_pred = xgb_model.predict(X_test)
y_train_pred = xgb_model.predict(X_train)
print("Train Accuracy: ", metrics.accuracy_score(y_train, y_train_pred))
print("Test Accuracy: ", metrics.accuracy_score(y_test, y_pred))
print("Precision: ", metrics.precision_score(y_test, y_pred))
print("Recall: ", metrics.recall_score(y_test, y_pred))
print("-------------")

Train Accuracy:  0.9695873113643363
Test Accuracy:  0.9639667385278718
Precision:  0.9728923827595555
Recall:  0.9442252038937122
-------------

96
% accuracy! This is very good! Let's save this model as well!

In [21]:
import joblib
joblib.dump(xgb_model, "xgb_model.pkl", compress = 3)

['xgb_model.pkl']

In [22]:
print(y_test.shape)

(25976,)

In [23]:
new_model = joblib.load("xgb_model.pkl")
predictions = new_model.predict(X_test)
print("Test Accuracy: ", metrics.accuracy_score(y_test, predictions))

Test Accuracy:  0.9639667385278718

## Feature Analysis

One of the ways in which we can try to find is by using mutual information.

In [24]:
from sklearn.feature_selection import mutual_info_classif

def make_mi_scores(X, y):
    mi_scores = mutual_info_classif(X, y)
    mi_scores = pd.Series(mi_scores, name="Mutual Info Scores", index=X.columns)
    mi_scores = mi_scores.sort_values(ascending=False)
    return mi_scores

mi_scores = make_mi_scores(X_train, y_train)
sorted_features = mi_scores.index

In [26]:
from sklearn.model_selection import cross_val_score

num_features_range = [5, 10, 15, 20]

def final_best_features(X_train, y_train, num_features_range, sorted_features):
    best_features = None
    best_accuracy = -1
    for i in num_features_range:
        print(f"Keeping {i} best features...")
        features = sorted_features[:i].tolist()
        X_train_reduced = X_train[features]
        print("Training model...")
        model = XGBClassifier(max_depth=6, n_estimators=200, booster='dart', reg_lambda=1.25, tree_method = "gpu_hist")
        print("Testing model...")
        scores = cross_val_score(model, X_train_reduced, y_train, cv=5)
        accuracy = scores.mean()
        print(f"Accuracy for keeping {i} best features: {accuracy}")
        if accuracy > best_accuracy:
            best_accuracy = accuracy
            best_features = features
    return best_features

In [27]:
final_features = final_best_features(X_train, y_train, num_features_range, sorted_features)
X_train_final, X_test_final = X_train[final_features], X_test[final_features]

Keeping 5 best features...
Training model...
Testing model...
Accuracy for keeping 5 best features: 0.9262107285107504
Keeping 10 best features...
Training model...
Testing model...
Accuracy for keeping 10 best features: 0.9416095776575357
Keeping 15 best features...
Training model...
Testing model...
Accuracy for keeping 15 best features: 0.9545734454535936
Keeping 20 best features...
Training model...
Testing model...
Accuracy for keeping 20 best features: 0.963225673633264

In [28]:
final_reduced_model = XGBClassifier(max_depth=6, n_estimators=200, booster='dart', reg_lambda=1.25, tree_method = "gpu_hist")
final_reduced_model.fit(X_train_final, y_train)
y_pred = final_reduced_model.predict(X_test_final)
final_accuracy = metrics.accuracy_score(y_test, y_pred)

In [30]:
print(final_accuracy)

0.9643132121958731

In [29]:
joblib.dump(final_reduced_model, "final_reduced_model.pkl", compress = 3)

['final_reduced_model.pkl']